<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Réserver un topo</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/accueil.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>


</head>

<body>

<div th:replace="fragments/topnav :: navbar"></div>

<header>

</header>

<!-- <h1 th:text="${topo.nom}"></h1>
<p th:text="${topo.description}"></p>
<p th:text="${topo.lieu}"></p>
<p th:text="${topo.dateParution}"></p>
<p th:text="${topo.auteur.prenom + ' ' + topo.auteur.nom}"></p> -->

<div class="container pl-5 pr-5" id="container">
    <div class="card pl-5 pr-5 mb-4" style="background-color: #FAC93C;color: black;">
        <div class="card-header text-center" >
            <h1 th:text="${ topo.nom }"></h1>
        </div>
        <div class="card-body">
            <p class="card-text text-left mt-4" th:text="'Descriptif : ' + ${ topo.description }"></p><hr>
            <p class="card-text text-left" th:text="'Lieu : ' + ${ topo.lieu }"></p><hr>
            <p class="card-text text-left" th:text="'Date de parution : ' + ${ topo.dateParution }"></p><hr>
            <p class="card-text text-left" th:text="'Statut : ' + ${ topo.statut }"></p><hr>
            <p class="card-text text-left" th:text="'Auteur : ' + ${ topo.auteur.prenom + ' ' + topo.auteur.nom }"></p><hr>
            <div th:if="${ topo.statut == 'Demande de réservation' }">
            	<p><b th:text="${ emprunteur.prenom + ' ' + emprunteur.nom + ' a fait une demande de réservation pour ce topo.' }"></b></p>
            	<form action="#" th:action="@{/mes-topos/accepter-ou-refuser}" method="post">
            		<input type="hidden" name="topoId" th:value="${topo.id}">
            		<button name="accepter" class="btn btn-primary mr-2">Accepter</button>
            		<button name="refuser" class="btn btn-danger">Refuser</button>
            	</form>
            </div><hr>
            <p>
            	<a class="btn btn-primary" th:href="@{/historique(topoId=${topo.id})}">Historique</a>
            </p><hr>
            <div th:if="${ topo.statut == 'Disponible' }">
            	<p>
            		<button class="btn btn-danger" th:onclick="'javascript:deleteTopo(\'' + ${topo.id} + '\');'">Supprimer ce topo</button>
            	</p>
            </div>
        </div>
    </div>
</div>


<form action="#" th:action="@{/deleteTopo}" id="deleteTopo" method="post">
	<input type="hidden" id="topoId" name="topoId">
</form>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<script type="text/javascript">
/*    function handleOnChange() {
        document.getElementById("formCritere").submit();
    }*/
 
    function deleteTopo(id){
    	$('#topoId').val(id);
    	$('#deleteTopo').submit();
    }    

$(document).ready(function(){
	
	});


</script>

</body>
</html>