<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/accueil.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>


</head>

<body>

<div th:replace="fragments/topnav :: navbar"></div>

<header>

</header>

<div class="container">
    <table id="siteList" class="table table-striped table-bordered">
        <thead>
        <th>Nom</th>
        <th>Pays</th>
        <th>Département</th>
        <th>Type</th>
        <th>Hauteur</th>
        <th>Voies</th>
        <th>Orientation</th>
        <th>Cotations</th>
        <th>Lien</th>
        <!--<th><a href="#" class="btn btn-primary">Lien</a></th>-->
        </thead>
        <tbody></tbody>
    </table>
</div>

<!--<form action="#" th:action="@{/home}" method="post" id="formCritere">
    <div class="container">
        <div class="row" id="menuCritere" style="background-color: orange; padding: 10px; border-radius: 5px;">
            <select name="pays" id="pays" onchange="handleOnChange()" class="col-lg-2 col-md-3 ml-5 custom-select">
                <option value="0">Pays</option>
                <option th:each="pays: ${ listePays }" th:value="${ pays.nom }" th:text="${ pays.nom }" th:selected="${ pays.nom == nomPays }"></option>
            </select>
            <select name="departement" id="departement" onchange="handleOnChange()" class="col-lg-2 col-md-4 ml-4 custom-select">
                <option value="0">Departement</option>
                <option th:each="departement: ${ listeDepartement }" th:value="${ departement.nom }" th:text="${ departement.nom }" th:selected="${ departement.nom == nomDepartement }"></option>
            </select>
            <select name="site" id="site" onchange="handleOnChange()" class="col-lg-2 col-md-3 ml-4 custom-select">
                <option value="0">Site</option>
                <option th:each="site: ${ listeSite }" th:value="${ site.id }" th:text="${ site.nom }" th:selected="${ site.id == idSite }"></option>
            </select>
            <select name="type" id="type" onchange="handleOnChange()" class="col-lg-2 col-md-3 ml-4 custom-select">
                <option value="0">Type</option>{ cotation.difficulte
                <option th:each="type: ${ listeType }" th:value="${ type.nom }" th:text="${ type.nom }" th:selected="${ type.nom == nomType }"></option>
            </select>
            <select name="cotation" id="cotation" onchange="handleOnChange()" class="col-lg-2 col-md-3 ml-4 custom-select">
                <option value="0">Cotation</option>
                <option th:each="cotation: ${ listeCotation }" th:value="${ cotation.difficulte }" th:text="${ cotation.difficulte }" th:selected="${ cotation.difficulte == difCotation }"></option>
            </select>
        </div>
    </div>
</form>

<div class="container">
    <div class="row pl-5 pr-5">
        <div class="card col-lg-5 mt-4 ml-5" th:each="articleSite, state: ${ listeArticleSite }">
            <div class="card-header text-center" th:text="${ articleSite.nom }">
            </div>
            <div class="card-body">
                <h5 class="card-title text-left" th:text="'Pays : ' + ${ articleSite.nomPays }"></h5>
                <h5 class="card-title text-left" th:text=" 'Département : ' + ${ articleSite.nomDepartement }"></h5><hr>
                <p class="card-text text-right mt-4" th:text="'Type : ' + ${ articleSite.type }"></p><hr>
                <p class="card-text text-right" th:text="'Hauteur : ' + ${ articleSite.hauteur }"></p><hr>
                <p class="card-text text-right" th:text="'Orientation : ' + ${ articleSite.orientation }"></p><hr>
                <p class="card-text text-right" th:text="'Voies : ' + ${ articleSite.voies }"></p><hr>
                <p class="card-text text-right" th:text="'Cotations : ' + ${ articleSite.cotations }"></p>
                <a th:href="@{/details(idSite=${articleSite.id})}" class="btn btn-primary" th:text="'Voir le site ' + ${ articleSite.nom }"></a>
            </div>
        </div>
    </div>
</div>-->
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<script type="text/javascript">
/*    function handleOnChange() {
        document.getElementById("formCritere").submit();
    }*/

$(document).ready(function(){
   $('#siteList').DataTable({
        pageLength: 5,
       ajax: {
            url: '/api/allSites',
           dataSrc: ''
       },
       columns:[
           {
               title: 'Nom',
               data: 'nom'
           },
           {
               title: 'Pays',
               data: 'nomPays'
           },
           {
               title: 'Département',
               data: 'nomDepartement'
           },
           {
               title: 'Type',
               data: 'type'
           },
           {
               title: 'Hauteur',
               data: 'hauteur'
           },
           {
               title: 'Orientation',
               data: 'orientation'
           },
           {
               title: 'Cotations',
               data: 'cotations'
           },
           {
               title: 'Voies',
               data: 'voies'
           },
           {
               title: 'Lien',
               data: 'id',
               render: function(data){
                   return '<a class="btn btn-primary" href="/details?idSite=' + data +'">Lien</a>';
               }
           }
       ]
   });
});

</script>

</body>
</html>