<div class="modal modal-warning fade in" id="modal-warning-supprimer" th:fragment="modalDeleteComment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer un commentaire</h5>
            </div>
            <div class="modal-body">
                <h3>Êtes vous sûr de vouloir supprimer ce commentaire?</h3>
            </div>
            <form action="#" th:action="@{/deleteComment}" id="deleteComment"  method="post">
                <input type="hidden" id="hiddenDeleteComment" name="id">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Close</button>
                    <button id="confirmDelete" type="submit" class="btn btn-danger">Yes</button>
                </div>
            </form>

        </div>
    </div>
</div>